<div class="whiz-footer">
  <div class="whiz-footer__logo">
    <img class="whiz-footer__logo__img" src="../../../../assets/images/logo.png" alt="">
  </div>
  <div class="whiz-footer__contact">
    <p class="whiz-footer__contact__text">
      Manuel Olguín 571, of.402
    </p>
    <p class="whiz-footer__contact__text">
      (01) 437-0274
    </p>
    <p class="whiz-footer__contact__text whiz-footer__contact__text--whiz">
      partners@whiz.pe
    </p>
  </div>
  <div class="whiz-footer__social">
    <img class="whiz-footer__social__img" src="../../../../assets/images/redes.png" alt="">
  </div>
</div>